<div class="item-container">
    <div class="item" id="{{ item.id }}">
        <div class="row">
            <div class="span3">
               &nbsp;
            </div>
            <div class="span2">

            </div>

            <div class="span3">

            </div>
        </div>
                <div class="image-holder">

                    <div class="image">
                        <div class="border left"></div>
                        <div class="border top"></div>
                        <a href="/post/{{ item.id }}">
                            <img src="{{ item.tmb }}" title="{{ item.title }}" alt="{{ item.title }}" width="800" />
                        </a>
                        <div class="border bottom"></div>
                        <div class="border right"></div>
                    </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

