<div class="item-container">
    <div class="item" id="{{ item.id }}">
        <h2>
            {% if item.title is empty %}
                {{ item.title }}
            {% else %}
                <a href="/post/{{ item.title }}/" rel="nofollow">{{ item.title }}</a>
            {% endif %}
        </h2>

        <div>
            <a href="{{ item.image }}" class="lightbox">
                <img src="{{ item.tmb }}" title="{{ item.title }}" alt="{{ item.title }}"/>
            </a>
        </div>
        <noindex>
            <div class="permalink"><a href="/post/{{ item.id }}" rel="nofollow">permalink</a></div>
        </noindex>
        <div class="tags">{% include "tagsList.twig" %}</div>
        <div class="date">{{ item.date }}</div>
        <div class="clear"></div>
    </div>
</div>
