<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{{ siteTitle }}{% if page > 1 %} - page {{ pages - page + 1 }}{% endif %}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.lightbox-0.5.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
    {% if isAdmin %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    {% endif %}
    <link rel="prefetch" href="{{ preloadPage }}"/>
    <link rel="prerender" href="{{ preloadPage }}"/>
    <script>
        $(document).ready(function () {
            $.each($('div.item a.lightbox'), function (id, item) {
                $(item).lightBox();
            });
        });
    </script>
    {% if isAdmin %}
        {% include "adminScripts.twig" %}
    {% endif %}
    {% if isRegisterUser %}
        <script src="/js/voting.js"></script>
    {% endif %}
</head>
<body>
<a name="page_top"></a>

<div id="page">
    <h1 id="siteTitle">
        <a href="/">{{ logoTitle }}</a>
    </h1>

    <div class="navigation">
        {% include "userPanel.twig" %}
    </div>
    <div id="content">
        {% block content %}
            {% include "pages.twig" %}
            {% for item in posts %}
                {% include "item.twig" %}
            {% endfor %}
            {% include "pages.twig" %}
        {% endblock %}
    </div>
    <div id="footer">
    </div>
</div>
{% include "widgets.twig" %}
{% if not isAdmin and not isDevelop %}
    {% include "counters.twig" %}
{% endif %}


</body>
</html>