{% if pages > 1 %}
    <div class="pages">
        <span>Страницы:  </span>
        {% for i in 1..pages %}
            {% if page == i %}
                <span>{{ i }}</span>
            {% else %}
                {% if i == 1 %}
                    <a href="{{ baseLink }}/">{{ i }}</a>
                {% else %}
                    <a href="{{ baseLink }}/page{{ i }}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}