{% if pages > 1 %}
    <div class="paginator">
        <span>Страницы:  </span>
        <div class="pages">
            {% for i in pages..1 %}
                {% if (pages - page + 1) == i %}
                    <span>{{ i }}</span>
                {% else %}
                    {% if i == pages %}
                        <a href="{{ baseLink }}/">{{ i }}</a>
                    {% else %}
                        <a href="{{ baseLink }}/page{{ i }}">{{ i }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}