{% if item.tags|length > 0 or isAdmin %}
    <span>Tags: </span>
    <ul class="tagList">
        {% for tag in item.tags %}
            <li><a href="/tag/{{ tag }}">{{ tag }}</a>{% if isAdmin %}(<a href="#" tag="{{ tag }}" postId="{{ item.id }}" class="delete-tag" onclick="return deattachTag($(this));">x</a>){% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if isAdmin %}
    <a href="#" class="add-tag" onclick="return setupAddTagButton('{{ item.id }}');">add</a>
    <script>

        function deattachTag(tag) {
            $.get('/tag/' + tag.attr('tag')+'/deattach/'+tag.attr('postId'), function(data) {
                console.log(data);
                if(data.success) {
                    tag.parent().remove();
                }
                else {
                    console.log(data);
                }
            }, 'json');
            return false;
        }

        function setupAddTagButton(postId) {
            $('#tagEditorWrapper').remove();
            $.get('/tag/editor/'+postId, function (data) {
                var html = '<li id="tagEditorWrapper">' + data + '</li>';
                $('#'+postId+' .tagList').append(html);
            });
            return false;
        }
    </script>
{% endif %}